
body{
    background-color: rgb(226, 243, 149);
}
#d1{
    background-image: url(https://ak.picdn.net/shutterstock/videos/19760674/thumb/1.jpg);
    width: 100%;
    height: 150px;
    color: rgb(187, 131, 10);
    margin-left: 20%;
    background-repeat: no-repeat;
    padding-top: 10px;
    
}
.left{
    border: solid 5px;
    border-color: brown;
    border-radius: 10px;
    width: 300px;
    background-color: rgba(135, 83, 148, 0.644); 
    padding: 10px;
    color: black;
}
.right{
    border: solid 5px;
    border-color: brown;
    border-radius: 10px;
    width: 300px;
    background-color: rgb(135, 83, 148, 0.644); 
    padding: 10px;
    margin-left: 78%;
    color: black;
}
